Repository etclabscore/go-ethereum, pull requests merged in 2019-08, with the labels that each got.

#17 Removed state transition creating empty account edge case
  core/state_transition.go
  tests/state_test.go
Labels: PR: 5 Looks Good, Priority: 1 Critical, Type: Core, Type: Tests

#19 Core execution refactor, EIP 684, edge case fixes, starting nonce for morden
  core/execution.go
  core/state/state_object.go
  core/state_transition.go
  go.mod
  go.sum
  params/protocol_params.go
  tests/files/StateTests/EIP150/Homestead/stCallCreateCallCodeTest.json
  tests/files/StateTests/EIP150/Homestead/stSystemOperationsTest.json
  tests/files/StateTests/Homestead/stCallCreateCallCodeTest.json
  tests/files/StateTests/Homestead/stSystemOperationsTest.json
  tests/files/StateTests/stCallCreateCallCodeTest.json
  tests/files/StateTests/stSystemOperationsTest.json
  tests/state_test.go
  tests/state_test_util.go
Labels: PR: 3 Grumble, PR: 4 Patch, Priority: 0 Consensus, Type: Core

#21 Backports for 6.0.7-beta
  core/execution.go
  core/state/state_object.go
  core/state_transition.go
  go.mod
  go.sum
  params/protocol_params.go
  tests/files/StateTests/EIP150/Homestead/stCallCreateCallCodeTest.json
  tests/files/StateTests/EIP150/Homestead/stSystemOperationsTest.json
  tests/files/StateTests/Homestead/stCallCreateCallCodeTest.json
  tests/files/StateTests/Homestead/stSystemOperationsTest.json
  tests/files/StateTests/stCallCreateCallCodeTest.json
  tests/files/StateTests/stSystemOperationsTest.json
  tests/state_test.go
  tests/state_test_util.go
Labels: PR: 6 Backport, Priority: 0 Consensus, Type: Core

#29 Replace repository reference for accounts/abi/bind
  go.mod
Labels: PR: 4 Patch, PR: 5 Looks Good, Type: Dependencies

#34 docs: update badges
  README.md
Labels: PR: 4 Patch, PR: 5 Looks Good, Priority: 7 Low, Type: Documentation

#33 Tx Encoding and decoding fix
  core/database_util_test.go
  core/types/receipt.go
Labels: PR: 4 Patch, PR: 5 Looks Good, Priority: 1 Critical, Type: Core

#28 Storage and edge case fixes
  core/execution.go
  core/state/state_object.go
  core/state/statedb.go
  core/state_processor.go
  core/tx_pool.go
  core/vm/contract.go
  core/vm/environment.go
  eth/api.go
Labels: PR: 4 Patch, PR: 5 Looks Good, Priority: 1 Critical, Type: Core

#37 6.0.8-stable backports
  README.md
  core/database_util_test.go
  core/execution.go
  core/state/state_object.go
  core/state/statedb.go
  core/state_processor.go
  core/tx_pool.go
  core/types/receipt.go
  core/vm/contract.go
  core/vm/environment.go
  eth/api.go
  go.mod
Labels: PR: 6 Backport, Type: Core, Type: Documentation

#38 Delete CODEOWNERS
  CODEOWNERS
Labels: PR: 1 Needs Review, Priority: 7 Low, Type: Meta

#45 update mainnet bootnodes list
  core/config/mainnet_bootnodes.json
Labels: PR: 5 Looks Good, Priority: 1 Critical, Type: Configuration
