Repository etclabscore/go-ethereum, pull requests merged in 2019-10, with the labels that each got.

#58 ecrecover edge case chains fix
  core/types/transaction_signing.go
  core/vm/contracts.go
  core/vm/contracts_test.go
  crypto/crypto.go
  crypto/crypto_test.go
Labels: PR: 1 Needs Review, Priority: 2 High, Type: Core

#59 Stable 6.0.10 backports
  .circleci/config.yml
  Makefile
  core/assets/assets.go
  core/config/mainnet_bootnodes.json
  core/defaults_test.go
  core/types/transaction_signing.go
  core/vm/contracts.go
  core/vm/contracts_test.go
  crypto/crypto.go
  crypto/crypto_test.go
  go.mod
  go.sum
  p2p/discover/node_test.go
  rpc/ipc_windows.go
Labels: PR: 6 Backport, Priority: 2 High, Type: Core

#65 Added Agharta config for Morden
  core/assets/assets.go
  core/config.go
  core/config/morden.json
Labels: PR: 5 Looks Good, Priority: 2 High, Type: Configuration
